body {
    line-height: 1.5;
	min-height: 100vh;
    background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	padding-top: 3vw;
	padding-bottom: 3vw;
	justify-content: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}
.dashboard {
	min-height: 80vh;
	width: 95%;
	max-width: 1600px;
	background-color: var(--c-gray-800);
	padding: 2vw 4vw 6vw;
	display: flex;
	flex-direction: column;
}

.header {
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			max-content,
			400px
		);
	column-gap: 4rem;
	align-items: flex-end;
	@media (max-width: 1200px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--c-gray-600);
	}
}

.dashboard-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);

	column-gap: 4rem;
	padding-top: 2.5rem;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		& > * {
			margin-bottom: 3.5rem;
		}
	}
}

.dashboard-body-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: none;
	}
}


.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--c-text-tertiary);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.25s ease;

		* {
			transition: 0.25s ease;
		}

		i {
			margin-right: 0.75rem;
			font-size: 1.25em;
			flex-shrink: 0;
		}

		& + a {
			margin-top: 1.25rem;
		}

		&:hover,
		&:focus {
			transform: translateX(4px);
			color: var(--c-text-primary);
		}
	}
}

.footer {
	margin-top: auto;
	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		display: flex;
		align-items: flex-start;
		small {
			font-size: 0.5em;
			margin-left: 0.25em;
		}
	}

	div {
		border-top: 1px solid var(--c-gray-600);
		margin-top: 1.5rem;
		padding-top: 1rem;
		font-size: 0.75rem;
		color: var(--c-text-tertiary);
	}
}

.dashboard-header-actions {
	display: flex;
	align-items: center;
	@media (max-width: 1200px) {
		display: none;
	}
}

.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: var(--c-text-tertiary);
	transition: 0.25s ease;

	&:hover,
	&:focus {
		color: var(--c-text-primary);
		span:last-child {
			box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
		}
	}

	span:first-child {
		display: flex;
		font-size: 1.125rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--c-gray-600);
		font-weight: 300;
	}

	span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1.5rem;
		flex-shrink: 0;
	}
}

.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}
}

.dashboard-section {
	& > h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}
}

.dashboard-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);

	column-gap: 4rem;
	padding-top: 2.5rem;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		& > * {
			margin-bottom: 3.5rem;
		}
	}
}



